.section-accordion{
    width: 100%;
}

.section-accordion > h2{
    width: 100%;
    text-align: center;
    font-weight: 100;
    color: var(--color-green);
    font-size: 1.5rem;
}

.accordion{
    width: 100%;
}
    .accordion-header{
        width: 100%;
        font-size: 1.2rem;
        font-weight: 200;
        background-color: var(--color-white);
        cursor: pointer;
        padding: 1rem;
        border: none;
        outline: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.4s;
    }
        .accordion-header::after {
            content: '\002B'; /* Unicode character for "plus" sign (+) */
            font-weight: bold;
            font-size: 1.8rem;
            color: var(--color-green);
        }
    .accordion-panel{
        background-color: var(--color-white);
        overflow: hidden;
        padding: 0;
        height: 0;
        color: black;
    } .accordion-expanded{
        padding: 1rem;
        height: auto;
        transition: all ease-in-out .2s;
    }

    .active::after{
        content: '\2212';
    }

@media (width >= 700px){
    .section-accordion{
        width: 50%;
        margin: 5rem auto;
    }
}