header{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    padding: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    z-index: 5;
    backdrop-filter: saturate(180%) blur(5px);
    background: hsla(0,0%,100%,.8);
}
    header .header-logo{
        width: 100%;
        text-align: center;
    }

@media (width >= 700px){
    header{
        justify-content: space-around;
        flex-wrap: nowrap;
    }
    header .header-logo{
        width: auto;
        text-align: center;
    }
}