.section-hero{
    margin: auto;
    padding: 3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00b2881f;
    border-radius: 5px;
}   .hero-content{
        width: 100%;
        background: var(--color-green) .5;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 3rem;
        gap: 2rem;
    }
   .hero-left p{
        font-size: 3rem;
        font-family: serif;
        color: var(--color-gray);
    }
    .hero-left p span{
        font-family: serif;
        color: var(--color-green);
    }
    .hero-right a{
        padding: 1rem 2.5rem;
        font-size: .7rem;
        font-weight: 700;
        border-radius: 5px;
    }

@media (width >= 700px){
    .section-hero{
        width: 68%;
    }
}
@media (width >= 990px){
    .hero-content{
        flex-direction: row;
        justify-content: space-between;
    }
}