.login{
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
} .login a{
    font-weight: bold;
    border-radius: 3px;
    padding: .5rem 1rem;
}
    .login-btnOutline{
        outline: 1px solid var(--color-green);
        color: var(--color-green);
    } .login-btnOutline:hover{
        background-color: var(--color-green);
        color: var(--color-white);
        transition: all .3s;
    }
    .login-btnGreen{
        color: var(--color-white);
        background-color: var(--color-green);
    } .login-btnGreen:hover{
        background-color: var(--color-white);
        color: var(--color-green);
        outline: 1px solid var(--color-green);
        transition: all .3s;
    }

@media (width >= 650px){
    .login{
        width: auto;
    }
}